@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PS Dados</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="flex-column">

        <AuthorizeView Roles="@(new AdministrationPermission().ReadPermission)">
            <Authorized>
                <span class="nav-item px-3 ">
                    <NavLink class="nav-link menu-esquerda-recuo" href="/Admin" @onclick='(() => RedirecionaPagina("Admin"))'>
                        <span class="oi oi-wrench" aria-hidden="true"></span>
                        <span title="Admin">Admin</span>

                    </NavLink>
                </span>
            </Authorized>
        </AuthorizeView>



    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void RedirecionaPagina(string pagina)
    {
        NavigationManager.NavigateTo($"/{pagina}", true);
    }
}

